.welcome{
  color: rgb(5, 10, 68);
  background-color: rgb(224, 224, 226);
  font-size: 30px;
  text-align: center;
}

.login{
  color: rgb(5, 10, 68);
  background-color: rgb(224, 224, 226);
  font-size: 30px;
  text-align: center;
}